{% extends "base.html" %}

{% block title %}Account | Smart Movie Recommendations{% endblock %}

{% block content %}

    <h1>{{ user.username }}'s Account Settings</h1>
    <p>{{ unread_notifications_count }}</p>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="{% url 'user:index' %}" class="list-group-item list-group-item-action active">My Account</a>
                <a href="{% url 'user:profile' user.username  %}" class="list-group-item list-group-item-action">My Profile</a>
                <a href="{% url 'user:update_account' %}" class="list-group-item list-group-item-action">Update Username</a>
                <a href="{% url 'user:update_profile' %}" class="list-group-item list-group-item-action">Update Profile Description</a>
                <a href="{% url 'user:account_change_password' %}" class="list-group-item list-group-item-action">Change Password</a>
                <a href="{% url 'user:account_logout' %}" class="list-group-item list-group-item-action list-group-item-danger">Sign Out</a>
            </div>
        </div>
    </div>

{% endblock %}
