{% extends "base.html" %}
{% block content %}

<h1>Recommendation Output</h1>

<h2>Recommendation for {{ recommendation.user.username }}</h2>
<p>Preference ID: {{ recommendation.preference.id }}</p>
<h2>Recommended Movies:</h2>
<ul>
    {% for movie in recommendation.movies.all %}
        <li>{{ movie.title }} ({{ movie.genres }})</li>
    {% endfor %}
</ul>

{% if request.user == recommendation.user %}
    {% if submitted %}
        <h2>Thank you for your feedback!</h2>
    {% else %}
        <h2>How was this recommendation?</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <button name="feedback" type="submit" value="True">Good</button>
            <button name="feedback" type="submit" value="False">Bad</button>
        </form>
    {% endif %}
{% endif %}

{% endblock %}
