{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>All Recommendations</h2>
    <div class="accordion" id="recommendationsAccordion">
      {% for recommendation in page_obj %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{ forloop.counter }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
              User: {{ recommendation.user.username }}, {{ recommendation.date_created }} {{ recommendation.preference }}
            </button>
          </h2>
          <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#recommendationsAccordion">
            <div class="accordion-body">
              <p><strong>Preference:</strong> {{ recommendation.preference }}</p>
              <p><strong>Movies:</strong></p>
              <ul>
                {% for movie in recommendation.movies.all %}
                  <li>{{ movie.title }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    
    <div class="pagination mt-4">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
    </div>
  </div>
{% endblock %}
