{% extends "base.html" %}

{% block title %}About | Smart Movie Recommendations{% endblock %}

{% block content %}
<h1>About</h1>
<p>
    Smart Movie Recommendations is a movie recommender powered by a neural network recommendation engine.<br>
    Our engine takes user input genre preferences and selects movies that will fit those preferences.<br>
    Movies and movie data used to train the neural network came from the MovieLens dataset.<br><br>

    Look through all recommendations that have been generated for all users.<br>
    Or, create an account and generate your own recommendations which will be saved to your profile.<br>
</p>
{% endblock %}